

.profileDesign {

    height: 37em;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: cornflowerblue;

}

.profileDesignColumns {
    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;
}

.profileDesignLeft {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profileDesignRight {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profileEditButton {

    height: 2em;
    width: 12em;

    background-color: red;

    border-radius: 0.5em;

    cursor: pointer;

    transition: 0.5s;
}

.profileEditButton:hover {
    background-color: darkred;
    transition: 0.5s;
}