

.registerDesign {
    height: 29em;

    background-color: lightgrey;

    color: black;

    display: flex;
    flex-direction : column;
    align-items: center;
    justify-content: center;
}

.registerInputs {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.designInput {
    margin-top: 2em;
    margin-left: 2em;
}

.sendRegisterDesign {
    height: 2em;
    width: 5em;

    background-color: red;
    transition: 0.3s;

    cursor: pointer;
}

.sendRegisterDesign:hover {
    background-color: darkred;
    transition : 0.3s;
}