

.headerDesign {
    height: 8em;
    position: fixed;
    background-color: blue;

    color: white;

    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: flex-end;
}

.navBar{
    background-color: #424242;
    color: white;
}
.searchInput {
    background-color: #C9C9C9;
}

.navText{
    color: white;
}

.alertButton {
    background-color: #FCFC62;

}


.navbar-brand {
    margin-left: 2em;
}

.textLink {
    font-weight: bold;
    margin-right: 2em;
    margin-bottom: 1em;

    color: white;   
    transition: 0.5s;
    cursor: pointer;
}


.textLink:hover {

    color: grey;
    transition: 0.5s;
}

